default: &default
  secret_key_base: 5b3b275dc2dca7f7989852f0f68d7099be9c0e59a23c8ab4d246c568036cb93bdb3e2e8d9446823c04ba8f2792d9405deefa2cb2ff17d5f4c9d859ef8fd06116
  email_interceptor_recipients: ""

maps: &maps
  map_tiles_provider: "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
  map_tiles_provider_attribution: "&copy; <a href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors"

apis: &apis
  microsoft_api_key: ""
  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""
  sms_end_point:  ""
  sms_username: ""
  sms_password: ""

http_basic_auth: &http_basic_auth
  http_basic_auth: true

development:
  http_basic_username: "dev"
  http_basic_password: "pass"
  <<: *default
  <<: *maps

test:
  <<: *default
  <<: *maps

staging:
  secret_key_base: "5b3b275dc2dca7f7989852f0f68d7099be9c0e59a23c8ab4d246c568036cb93bdb3e2e8d9446823c04ba8f2792d9405deefa2cb2ff17d5f4c9d859ef8fd06116"
  server_name: ""
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *default
  <<: *maps
  <<: *apis

preproduction:
  secret_key_base: "5b3b275dc2dca7f7989852f0f68d7099be9c0e59a23c8ab4d246c568036cb93bdb3e2e8d9446823c04ba8f2792d9405deefa2cb2ff17d5f4c9d859ef8fd06116"
  server_name: ""
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""
  <<: *maps
  <<: *apis

production:
  secret_key_base: ""
  server_name: ""
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""
  <<: *maps
  <<: *apis
